*{
    box-sizing: border-box;
    font-size: large;
    font-weight: normal;
    font-family: sans-serif;
    
}
body {
    padding: 50px;
    margin: 100px;
    background: linear-gradient( to right, #00AAFF, #00FF6c);
    display: flex;
    justify-content: center;
    align-items: center;
   

}



#calculator-box{
    height: 150px;
    width: 300px;
    background-color: lightskyblue; 
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 10px 20px;
    

}



#first-row {
    display: flex;
    flex-direction: row;
}

#clear-button {
    width: 24%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#display-box {
    width: 75%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#second-row {
    display: flex;
    flex-direction: row;
} 

#seven {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#eight {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#nine {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#divide {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color:#fcfc00;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}
#third-row {
    display: flex;
    flex-direction: row;
}

#four {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#five {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#six {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}



#multiply {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color:  #fcfc00;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
    
}

#fourth-row {
    display: flex;
    flex-direction: row;

}

#one {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#two {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#three {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#minus {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color:  #fcfc00;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}


#fifth-row {
    display: flex;
    flex-direction: row;
    

}

#zero {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#decimal {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: lawngreen;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#equal {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color: ;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

#addition {
    width: 25%;
    height: 20%;
    text-align: center;
    background-color:  #fcfc00;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid black;
}




